/* AboutPortugal.css */
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.box-about {
  width: 400px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #ea638c;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
}

.box-about:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.about-head {
  margin-bottom: 10px;
  color: #800e13;
  font-size: 22px;
  text-decoration: underline;
}

.about-p {
  color: #1b4965;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
