#placedetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#placedetails > div {
  overflow: hidden;
  flex: 0 1 calc(300px - 27px);
  margin: 15px;
  padding: 15px;
  border: 2px solid #ea638c;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  transition: transform 0.2s ease-in-out;
  background-color: #fff;
  height: 100%;
}

#placedetails > div:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#placedetails h3 {
  margin-bottom: 10px;
  color: #e67e22;
  font-size: 18px;
}

#placedetails img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

#placedetails p {
  margin: 10px 0;
  color: #555;
  line-height: 1.5;
}

#placedetails h4 {
  font-size: 18px;
  color: #888;
  margin-bottom: 0;
}

#placedetails a {
  color: #e74c3c;
  text-decoration: none;
  font-weight: bold;
}

#placedetails a:hover {
  text-decoration: underline;
}

.edit-button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%-10%;
}

#placedetails .edit-button {
  background-color: #e67e22; /* Changed button color for better contrast */
  color: #fff; /* Changed text color for better visibility */
  padding: 12px 18px; /* Increased padding for a more comfortable click */
  border: none;
  border-radius: 8px; /* Increased border radius for a softer look */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 16px;
}

#placedetails .edit-button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}
