#restaurant-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#restaurant-details > div {
  flex: 0 1 calc(400px - 40px);
  margin: 15px;
  padding: 15px;
  border: 2px solid #ea638c;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  height: 100%;
}

#restaurant-details > div:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#restaurant-details h3 {
  margin-bottom: 10px;
  color: #e67e22;
  font-size: 22px;
}
#restaurant-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  border: 4px solid #fff;
  box-shadow: 0 0 15px #fcf7f8(0, 0, 0, 0.2);
}

#restaurant-details img:hover {
  transform: scale(1.05);
  filter: brightness(80%);
  box-shadow: 0 0 20px #fcf7f8(0, 0, 0, 0.3);
}

#restaurant-details p {
  margin: 10px 0;
  color: #555;
  line-height: 1.5;
  font-size: 15px;
  overflow: hidden;
}

#restaurant-details h4 {
  font-size: 21px;
  color: #c07f00;
  margin-bottom: 0;
}
#restaurant-details h5 {
  font-size: 24px;
  color: #910e3c;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

#restaurant-details a {
  color: #e74c3c;
  text-decoration: none;
  font-weight: bold;
}

#restaurant-details a:hover {
  text-decoration: underline;
}
