.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-content {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #3498db;
}

p {
  color: #555;
  line-height: 1.6;
}
