.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.book {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.page {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.title {
  color: #3498db;
}
